.home-header{
    direction: rtl;
    margin-top: 3rem !important;
}
#mainContainer{
    width: 80%;
    margin: 0 auto;
    border: 1.5px solid rgba(131, 130, 130, 0.315);
    border-radius: 10px; 
}
.flexContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.flexChildrenMain{
    border-left: 1.5px solid rgba(131, 130, 130, 0.315);
    flex-basis: 200px;
    text-align: center;
}
.flexChildrenMain:nth-last-child(1){
    border-left:none
}
.flexChildren{
    flex-basis: 200px;
    text-align: center;
}
.is-text{
border: none;
background-color: inherit;
cursor: pointer;
}
hr{
    border: 0;
    height: 1.5px;
    background-color: rgba(131, 130, 130, 0.315);
}
button:focus{
    outline: none;
    border: none;
}
.is-rounded{
    border-radius: 10px;
}
.flexChildrenMain:nth-child(even){
    background-color: rgba(240, 236, 236, 0.301);
}
