$gray : rgba(131, 130, 130, 0.315);
$grayborder: 1.5px solid $gray;
 @mixin roundedBorder{
    background-color: rgba(236, 236, 236, 0.336);
    display: inline-block;
    border-radius: 10px;
}
html{
    font-family: 'iranyekan';
    background-color: #f9f9f9;
}
.smaller{
    position: relative;
    margin: 100px auto;
    width:80rem;
}
.home-header {
    margin-top: 3rem !important;
}
#mainContainer {
    width: 80%;
    margin: -10px auto;
    border: $grayborder;
    border-radius: 10px;
}
.flexContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.flexChildrenMain {
    border-left: $grayborder;
    flex-basis: 200px;
    text-align: center;
    &:nth-child(6){
        border-left: none
    }
    &:nth-child(even) {
        background-color: rgba(236, 236, 236, 0.336);
        @media screen and (max-width: 768px) {
            background-color: transparent;
        }
        
    }
}
hr {
    border: 0;
    height: 1.5px;
    background-color: $gray;
}
button:focus {
    outline: none;
    border: none;
}
.is-rounded {
    border-radius: 10px;
}
.border{
    &:nth-child(1){
    border: 1.5px solid rgba(255, 179, 0, 0.767);
    }
    &:nth-child(2) {
        border: 1.5px solid rgba(31, 170, 0, 0.459);
    }
}
.dayItems {
    margin: 25px 0;
    padding: 3px;
    @include roundedBorder;
}
@media screen and (max-width: 768px) {
    .icons{
        visibility: hidden;
    }
    .dayItemsmobile{
        margin-bottom: 10px;
        padding: 5px;
        @include roundedBorder;
        text-align: right !important;
    }
    #mainContainer {
        width: 90%;
        border: none !important;
    }
    #mainContainer {
        display: block !important;
        align-content: stretch !important;
        justify-content: flex-start;
    }
    hr {
        visibility: hidden;
    }
    .flexChildrenMain {

        text-align: right;
        border: none;
    }
    .is-fixed-bottom-mobile {
        position: fixed;
        bottom: 0;
    }
}
    .icon{
    position: absolute;
    left:65px;
    top:70px;
        }
.deleteIcon{
    width: 0;
    height: 0;
    &::before {
    position: absolute;
    right: -7px;
    top: -2px;
  }
}
    .tableIcon{
    margin: 0 13px;
    position: relative;
    &::before{
    position: absolute;
    left:-1px;
    top: 2px;
}

}
@font-face {
    font-family: 'monta';
    src: url("../icons/fonts/Monta-Iconpack-V2019.ttf");
    src: url("../icons/fonts/Monta-Iconpack-V2019.woff");
    src: url("../icons/fonts/Monta-Iconpack-V2019.eot");
    src: url("../icons/fonts/Monta-Iconpack-V2019.svg");
}
@font-face{
    font-family: 'iranyekan';
    src: url("../client_resources/fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf");
    src: url("../client_resources/fonts/iranyekan/woff/iranyekanwebblackfanum.woff");
    src: url("../client_resources/fonts/iranyekan/svg/iranyekanwebblackfanum.svg");
    src: url("../client_resources/fonts/iranyekan/eot/iranyekanwebblackfanum.eot");
}