.home-header{
    direction: rtl;
    margin-top: 3rem !important;
}
#mainContainer{
    width: 80%;
    margin: 0 auto;
    border: 1.5px solid rgba(131, 130, 130, 0.315);
    border-radius: 10px; 
}
.flexContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.flexChildren{
    flex-basis: 200px;
    text-align: center;
}
.is-text{
border: none;
background-color: inherit;
cursor: pointer;
}
hr{
    color: rgba(131, 130, 130, 0.315);
    border: 0;
    height: 1.5px;
    background-color: rgba(131, 130, 130, 0.315);
}
button:focus{
    outline: none;
    border: none;
}
