@import url("variables.scss");
@import url("global.css");
@font-face{
    font-family: 'iranyekan';
    src: url("../client_resources/fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf");
    src: url("../client_resources/fonts/iranyekan/woff/iranyekanwebblackfanum.woff");
    src: url("../client_resources/fonts/iranyekan/svg/iranyekanwebblackfanum.svg");
    src: url("../client_resources/fonts/iranyekan/eot/iranyekanwebblackfanum.eot");
}
@mixin roundedBorder($borderRadius){
    background-color: rgba(236, 236, 236, 0.336);
    display: inline-block;
    border-radius: $borderRadius;
}
#calenderView:hover , #listView:hover{
    cursor: pointer;
}
.home-header {
    margin-top: 3rem !important;
}
#maincontainer {
    width:85%;
    margin: -10px auto;
    border: 1.5px solid rgba(131, 130, 130, 0.315);
    border-radius: 10px;
}
.flexcontainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.flexchildrenmain {
    border-left: 1.5px solid rgba(131, 130, 130, 0.315);
    width: 380px;
    text-align: center;
    &:nth-last-child(1){
        border-left: none
    }
    &:nth-child(even) {
        background-color: rgba(236, 236, 236, 0.336);
        @media screen and (max-width: 768px) {
            background-color: transparent;
        }
        
    }
}
.is-rounded {
    border-radius: 10px;
}
.dayItems {
    margin: 25px 0;
    padding: 3px;
    @include roundedBorder(10px);
}
.is-middle{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 768px) {
    .width50-mobile{
        min-width: 30%;
        margin: 0;
        padding: 0;
    }
    .fullwidth{
        width: 200px;
    }
    #mainContainer {
        width: 300px;
        border: none;
        display: block !important;
        align-content: stretch !important;
        justify-content: flex-start;
    }
    .margin-mobile{
        margin-top:5px;
    }
    .flexcontainer{
     flex-direction: column;
     border:none;
    }
    span br{
        display: none;
    }
    .icons{
        visibility: hidden;
    }
    .dayItemsmobile{
        margin-bottom: 10px;
        padding: 5px;
        @include roundedBorder(10px);
        text-align: right !important;
    }
    hr {
        display: none;
    }
    .flexchildrenmain {
        text-align: right;
        border: none;
    }
    .is-fixed-bottom-mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}
.deleteicon{ 
    &::before {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 2px;
  }
}
    .tableicon{
    margin: 0 13px;
    position: relative;
    &::before{
    position: absolute;
    left:-1px;
    top: 2px;
}
}
